@{
  Layout = "_Layout";
}
@using Bakery.Models;
@model Bakery.Models.Treat
<h1>Treat Detial</h1>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
@if(@Model.JoinEntities.Count == 0)
{
  <p>No flavors in this treat</p>
}
else
{
  <h4>Flavors this treat has</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Flavor.Name</li>
    @using (Html.BeginForm("DeleteFlavor", "Treat"))
    {
      @Html.Hidden("joinId", @join.FlavorTreatId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}
<p class="button">@Html.ActionLink("Add a Flavor", "Create", "Flavors", new {id = Model.TreatId})</p>
<p class="button">@Html.ActionLink("Back to all Treats", "Index")</p>
<p class="button">@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p class="button">@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
